<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Bolo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="bolo.imagem">
    <ion-card-content>
      <ion-card-title>
        {{ bolo.nome }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ bolo.descricao }}
      </ion-card-subtitle>
      <ion-item>
        <ion-label>Preço: {{ bolo.preco }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" fill="outline" color="warning" (click)="voltar()">Voltar<ion-icon slot="end" name="arrow-back"></ion-icon></ion-button>
  <ion-button expand="full" fill="solid" color="danger" (click)="addCarrinho(bolo)">Adicionar ao Carrinho<ion-icon slot="end" name="cart"></ion-icon></ion-button>

</ion-content>
